<div class="container mt-3">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="d-inline">Products</h1>
    </div>
    <div class="col-auto">
      <% if current_user.is_admin? %> 
        <%= link_to cart_path(current_cart) , class: "btn btn-success btn-sm" do %>
          <i class="fas fa-shopping-cart"></i> View Cart
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image.url, alt: product.name, width: 200, height: 200 if product.image.present? %></td>
        <td><%= product.name %></td>
        <td><%= product.product_type %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td>
          <%= form_with url:add_to_cart_product_path(product), method: :post, local: true do %>
            <%= submit_tag 'Add to Cart', class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>