<h2>Your Cart</h2>

<% if @cart_items.any? %>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Subtotal</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= number_to_currency(item.subtotal) %></td>
            <td>
              <%= button_to cart_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
                <i class="fas fa-trash-alt"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>Total: <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></p>

  <div class="d-flex justify-content-center mt-3">
    <%= link_to 'Continue Shopping', dashboard_index_path, class: 'btn btn-primary  mx-2' %>
    <%= link_to 'Checkout', new_order_path, class: 'btn btn-success  mx-2' if @cart.cart_items.any? %>
  </div>
<% else %>
  <h2>Your Cart is empty</h2>
<% end  %>